# .gitignore
$env
.bash_history
.gitconfig
.lesshst
.matplotlib/
.node_repl_history
.npmrc
.packettracer
.ssh/
.vscode/
AppData/
AutoOats/
Cisco Packet Tracer 8.1.0/
Contacts/
Downloads/
Favorites/
FlaskTest/
HNR102/
INF286---Web-Development/
IntelGraphicsProfiles/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TM.blf
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
PycharmProjects/
STA305/
Saved Games/
School/
Searches/
Videos/
curseforge/
get-pip.py
jsmodule/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
set

